<!-- 5. Output the burger boolean and devoured number to the page for all the burgers. -->
<ul>
  {{#each devoured}}
    <li>
      <p>burger: {{burger}}</p>
      <p>devoured: {{devoured}}</p>

    </li>
  {{/each}}

    <input type="text" id="burger" name ="burger" >
    <button type="submit">Update Burger</button>
</ul>
